.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  max-width: 288px;
  z-index: 1;
}

@media screen and (min-width: 768px) and (max-width: 2600px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 360px;
    margin-top: 32px;
  }
}
