.intro__text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 33px;
}

@media screen and (min-width: 768px) and (max-width: 2600px) {
  .intro__text {
    max-width: 720px;
    max-height: 208px;
  }
}
