@import url(../../vendor/inter.css);

.footer {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 2600px) {
  .footer {
    display: flex;
    justify-content: space-between;
  }
}
